body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#animationCanvas {
    background-color: #7bbf6a; /* Light green to mimic a grassy garden */
}
